@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "PickUps";
}

<h2>Pickups</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.zipcode)
        </dt>

        <p>
            @Html.ActionLink("Confirm Pickup", "ConfirmPickup")
        </p>

    </dl>
</div>


@*<p>
    @Html.ActionLink("Back to Employee info", "Index")
</p>*@
